.swiper-cont {
  position: relative;
  width: 90%;
  margin: auto;
}

.left-arrow {
  color: #f73312;
  height: 25px;
  width: 25px;
  position: absolute;
  top: 40%;
  left: -40px;
  cursor: pointer;
}

.right-arrow {
  color: #f73312;
  height: 25px;
  width: 25px;
  position: absolute;
  top: 40%;
  right: -40px;
  cursor: pointer;
}

.swiper-slide {
  height: auto;
  margin-bottom: 20px;
}

.swiper-pagination-bullet-active {
  background-color: #f73312 !important;
  width: 50px !important;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 5px;
  border-radius: 50px;
}
