@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap"); /* Rajdhani font  */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); /* poppins font*/

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  /* font-family: "Inter", sans-serif; */
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* theme color: "#f73312" */
/* nav font: 'Rajdhani'; */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --swiper-navigation-size: 30px !important;
  --swiper-navigation-color: #f73312;
}

.style-module_emptyIcons__Bg-FZ {
  display: flex !important;
}

.picture {
  /* background-color: rgba(241, 240, 240, 0.6); */
  width: 100%;
  height: 100%;
  font-size: 16px;
  /* border-bottom-left-radius: 20px; */
  /* border-top-left-radius: 20px; */
  /* font-family: "Montserrat"; */
  /* width: 300px; */
  /* border-bottom: 3px solid #ffcd4f; */
  cursor: pointer;
  /* margin: 10px 0; */
}

.picture::-webkit-file-upload-button {
  color: white;
  background-color: rgb(239 68 68);
  font-size: 16px;
  border: none;
  padding: 10px;
  /* border-radius: 20px; */
  /* font-family: "Montserrat"; */
  cursor: pointer;
}
